<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/signin.css">
  <link rel="icon" href="/ /">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Project Management System</title>
</head>

<body>
    <style>
        body {
          /* background-image: url("/images/sawah.png"); */
          /* background-repeat: no-repeat; */
          background-size: cover;
        }
      </style>
  <form class="form-signin" action="/login" method="POST">
    <div class="text-center mb-4">
      <img class="mb-4" src="/images/user.png" alt="" width="150">
      <h1 class="h3 mb-3 font-weight-normal">Project Management System</h1>
    </div>
    <div class="form-label-group">
      <label for="inputEmail" style="color: #a9a9a9">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required
        autofocus>
    </div>
    <div class="form-label-group">
      <label for="inputPassword" style="color: #a9a9a9">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-primary btn-block" type="submit">
      Sign In
    </button>
    <button class="btn btn-dark btn-block" style="margin-top: 10px" type="button" data-toggle="collapse"
      data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Account
    </button>
    <div class="collapse" id="collapseExample">
        <div class="card card-body text-center">
          <p>
            <strong>Admin:</strong><br />
            Email Address: admin@rubicamp.com<br />
            Password: 123456
            <br /><br />
            <strong>User:</strong><br />
            Email Address: user@rubicamp.com<br />
            Password: 123456
          </p>
        </div>
      </div>
  </form>

  <script src="" crossorigin=" anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>